* {
    padding: 0%;
    margin: 0%;
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-container{
    display: flex;
    align-items: center;
    gap: 30px;

}
.top-container div{
    width: 100%;
    padding: 50px;
}
.top-container img{
    width: 100%;
}

.main-container{
    margin-left: 30px;
    margin-right: 30px;
}

.container {
    display: flex;
    margin-top: 100px;
    gap: 20px;
    padding: 60px;
}

.font-color {
    color: #d69d31;
}


.big {
    color: #043b24;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;

}

.text-color {
    color: #355755ef;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 500;
}

.cl-b {
    color: #355755ef;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 500;
    width: 50%;
}

/* .second-info{
    width: 50%;
} */

.my {
    color: #355755ef;
    text-align: center;
    width: auto;
}

.half {
    padding: 20px;

}
.second-image{
    width: 100%;
}


.half img {
    width: 100%;
    background-image: linear-gradient(red blue);
}

.food-text{
    padding: 20px;
}

.button {
    width: 100px;
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange tomato);
    color: whitesmoke;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 500;

}

.top {
    background-image: url(8.jpg);
    margin: 0;
    background-size: cover;
    background-position: center;
}

.clo-abt {
    color: #1a553c;
}

.top-second {
    background-image: url(7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;

}
.second-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.second-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px;
    gap: 60px;
    justify-content: center;
    
}

.recipies-info{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-info h1{
    margin-bottom: 20px;
}
/* .second-text{
    width: 50%;
} */
.half img{
    width: 100%;
    height: fit-content;
}
#border {
    box-shadow: 10px 10px 40px #928570;
    border-radius: 30px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 35px;
    
}

.short {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
}

#ad {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 40px #aed3d0ef;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}

footer {
    background-color: #000000;
    text-align: center;
}

.si {
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
}

.di {
    color: azure;
    font-weight: 100;
    font-size: 12px;
    margin-top: 0%
}

.il {
    color: #d69d31;
}

.ui {
    font-size: 30px;
    font-weight: 900;
}
.footer{
    padding: 50px;
}

.food-img {
    width: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.food-img img {
    width: 350px;
    border-radius: 10px;
    height: 250px;
}

.food-container {
    display: flex;
    justify-content: center;
}

.info {
    width: 50%;
    padding: 8px;
}